@import "tailwindcss";

@theme {
  --font-league-gothic: "League Gothic", sans-serif;
  --font-ubuntu: "Ubuntu", sans-serif;
  
  --breakpoint-xs: 30rem;
  
  --color-pink-50: #fff0f3;
  --color-pink-100: #ffe4ea;
  --color-pink-200: #ffc9d6;
  --color-pink-300: #ffadc2;
  --color-pink-400: #ff89ab;
  --color-pink-500: #ff6798;
  --color-pink-600: #ed0074;
  --color-pink-700: #b60058;
  --color-pink-800: #7e003b;
  --color-pink-900: #4a0020;
  --color-pink-950: #300012;
  
  --color-white: #e6e6e6;

  --color-grey-50: #f0f0f4;
  --color-grey-100: #e4e5ec;
  --color-grey-200: #c9cbd9;
  --color-grey-300: #aeb2c7;
  --color-grey-400: #949ab5;
  --color-grey-500: #7b82a3;
  --color-grey-600: #646c8c;
  --color-grey-700: #505671;
  --color-grey-800: #3c4156;
  --color-grey-900: #282b3b;
  --color-grey-950: #202330;

  --color-primary: #ed0074;
  --color-secondary-100: #e6e6e6;
  --color-secondary-150: #d6d6d6;
  --color-secondary-200: #bbbbbb;
  --color-secondary-300: #75757a;
  --color-secondary-400: #202330;
  --color-codeblock: #202330;
}

[data-theme="light"] {
  --color-primary: #ed0074;
  --color-secondary-100: #e6e6e6;
  --color-secondary-150: #d6d6d6;
  --color-secondary-200: #bbbbbb;
  --color-secondary-300: #75757a;
  --color-secondary-400: #202330;
  --color-codeblock: #202330;
}

[data-theme="dark"] {
  --color-primary: #ff6798;
  --color-secondary-100: #202330;
  --color-secondary-150: #3c4156;
  --color-secondary-200: #646c8c;
  --color-secondary-300: #949ab5;
  --color-secondary-400: #c9cbd9;
  --color-codeblock: #282b3b;
}

[data-theme="b&w"] {
  --color-primary: #202330;
  --color-secondary-100: #e6e6e6;
  --color-secondary-150: #d6d6d6;
  --color-secondary-200: #bbbbbb;
  --color-secondary-300: #5f5f63;
  --color-secondary-400: #202330;
  --color-codeblock: #202330;
}

[data-theme="purple"] {
  --color-primary: #d670d6;
  --color-secondary-100: #202330;
  --color-secondary-150: #3c4156;
  --color-secondary-200: #646c8c;
  --color-secondary-300: #949ab5;
  --color-secondary-400: #c9cbd9;
  --color-codeblock: #282b3b;
}

[data-theme="purple2"] {
  --color-primary: #30202c;
  --color-secondary-100: #ec9dec;
  --color-secondary-150: #bbbbbb;
  --color-secondary-200: #5f5f63;
  --color-secondary-300: #202330;
  --color-secondary-400: #202330;
  --color-codeblock: #202330;
}

[data-theme="arctic"] {
  --color-primary: #46d0f3;
  --color-secondary-100: #202330;
  --color-secondary-150: #3c4156;
  --color-secondary-200: #646c8c;
  --color-secondary-300: #949ab5;
  --color-secondary-400: #c9cbd9;
  --color-codeblock: #282b3b;
}

[data-theme="sandstone"] {
  --color-primary: #f49230;
  --color-secondary-100: #352f2f;
  --color-secondary-150: #574444;
  --color-secondary-200: #8c6964;
  --color-secondary-300: #b59c94;
  --color-secondary-400: #d9c9c9;
  --color-codeblock: #423939;
}

@source "../../../content/**/*";


.ul {
  @apply ml-8 list-outside list-disc;
}

.ol {
  @apply ml-8 list-outside list-decimal;
}

.link {
  @apply underline text-primary hover:bg-primary hover:text-secondary-100 font-medium px-1;
}

.btn {
  @apply no-underline outline outline-1 px-2 text-primary hover:bg-primary hover:text-secondary-100 font-medium;
}

.highlight-text {
  @apply inline font-bold bg-primary p-1 text-secondary-100 box-decoration-clone;
}

.icon-btn {
  @apply flex flex-row flex-nowrap items-center gap-1 px-1;
}

.tag-outline {
  @apply text-xs text-primary outline-1 outline-primary rounded-full px-2 py-0.5;
}

.bg-stripes {
  background: repeating-linear-gradient(
    -45deg,
    var(--color-secondary-100),
    var(--color-secondary-100) 16px,
    var(--color-secondary-200) 16px,
    var(--color-secondary-200) 32px
  );
}

.content-renderer {
  p:has(+ p) {
    @apply mb-4;
  }
  
  h1 {
    @apply font-league-gothic text-6xl text-primary mb-2 mt-6;
  }
  
  h2 {
    @apply font-league-gothic text-5xl text-primary mb-2 mt-6;
  }
  
  h3 {
    @apply font-league-gothic text-4xl text-primary mb-2 mt-6;
  }
  
  h4 {
    @apply font-league-gothic text-3xl text-primary mt-4;
  }
  
  h5 {
    @apply font-league-gothic text-2xl text-primary mt-4;
  }
  
  h6 {
    @apply font-league-gothic text-2xl text-primary mt-4;
  }

  blockquote {
    @apply border-l-4 border-primary pl-4 py-2 italic my-6;
  }

  pre {
    @apply bg-codeblock p-4 rounded overflow-x-auto my-6;
  }
}